{% extends "base.html" %}
{% block head %}
<title>О нас</title>
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1>ZeNik77 und kontrax</h1>
        <p>МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА </p>
        <p>МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА МЫ ЛЕД ПОД НОГАМИ МАЙОРРРРРРРА </p>
        </div>
      <div class="col-md-6">
        <img src="https://via.placeholder.com/400" class="img-fluid" alt="Placeholder image">
      </div>
    </div>
  </div>

{% endblock %}