{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/chessboard-1.0.0.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/static/js/modules/chessboard-1.0.0.js"></script>
<script src="/static/js/modules/chess.js"></script>
<style>
    .multiline {
        white-space: pre-wrap;
    }
</style>
{% endblock %}

{% block body %}
<h1 id="status"></h1>
<div id="myBoard" style="width: 600px; margin: auto"></div>
<!-- <label>Status:</label> -->
<!-- <label>Debug:</label> -->
<!-- <div class="multiline" id="debug"></div> -->
<script src="/static/js/game.js"></script>
{% endblock %}
