{% extends "base.html" %}
{% block body %}
<div class="container-fluid bg-dark">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 text-center text-light">
        <h1 class="mb-4">Добро пожаловать на сайт шахмат!</h1>
        <p class="lead">Здесь вы можете играть в шахматы с другими игроками онлайн, общаться с ними и учиться у профессионалов.</p>
        <a href="#" class="btn btn-primary mt-4" onclick="location.href='/game?id='+getnewroom(1)">Начать игру</a>
      </div>
    </div>
    {% if games %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="nav-item">Игра</th>
          <th class="nav-item">Соперник</th>
          <th class="nav-item">Рейтинг</th>
          <th class="nav-item">Время</th>
        </tr>
      </thead>
      <tbody>
      {% for el in games %}
        <tr>
          <td class="nav-item"><a href="/game?id={{ el[4] }}" class="nav-link px-2 text-muted">{{ el[0] }}</a></td>
          <td class="nav-item"><a href="/game?id={{ el[4] }}" class="nav-link px-2 text-muted">{{ el[1] }}</a></td>
          <td class="nav-item"><a href="/game?id={{ el[4] }}" class="nav-link px-2 text-muted">{{ el[2] }}</a></td>
          <td class="nav-item"><a href="/game?id={{ el[4] }}" class="nav-link px-2 text-muted">{{ el[3] }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
</div>





{% endblock %}
