{% extends "base.html" %}
{% block body %}
<div class="container-fluid bg-dark" style="background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/59923/pub_622513ef8876bb315a7e9ef6_62252a4b939d3b4e13f3303a/scale_1200');">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 text-center text-light">
        <h1 class="mb-4">Добро пожаловать на сайт шахмат!</h1>
        <p class="lead">Здесь вы можете играть в шахматы с другими игроками онлайн, общаться с ними и учиться у профессионалов.</p>
        <a href="#" class="btn btn-primary mt-4">Начать игру</a>
      </div>
    </div>
  
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Новости</h5>
            <p class="card-text">Будьте в курсе последних новостей из мира шахмат.</p>
            <a href="#" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Учебник</h5>
            <p class="card-text">Улучшайте свою игру с помощью нашего учебника.</p>
            <a href="#" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title">Турниры</h5>
            <p class="card-text">Участвуйте в турнирах и выигрывайте призы.</p>
            <a href="#" class="btn btn-primary">Перейти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-4">Популярные игры</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="card bg-light">
              <img src="path/to/game1.jpg" class="card-img-top" alt="Игра 1">
              <div class="card-body">
                <h5 class="card-title">Название игры 1</h5>
                <p class="card-text">Описание игры 1.</p>
                <a href="#" class="btn btn-primary">Играть</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-light">
              <img src="path/to/game2.jpg" class="card-img-top" alt="Игра 2">
              <div class="card-body">
                <h5 class="card-title">Название игры 2</h5>
<p class="card-text">Описание игры 2.</p>
<a href="#" class="btn btn-primary">Играть</a>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card bg-light">
<img src="path/to/game3.jpg" class="card-img-top" alt="Игра 3">
<div class="card-body">
<h5 class="card-title">Название игры 3</h5>
<p class="card-text">Описание игры 3.</p>
<a href="#" class="btn btn-primary">Играть</a>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card bg-light">
<img src="path/to/game4.jpg" class="card-img-top" alt="Игра 4">
<div class="card-body">
<h5 class="card-title">Название игры 4</h5>
<p class="card-text">Описание игры 4.</p>
<a href="#" class="btn btn-primary">Играть</a>
</div>
</div>
</div>
</div>
</div>

  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">Рейтинг игроков</h5>
          <p class="card-text">Узнайте, кто лидирует в нашем рейтинге игроков.</p>
          <a href="#" class="btn btn-primary">Перейти</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title">Обратная связь</h5>
          <p class="card-text">Если у вас есть какие-либо вопросы или предложения, свяжитесь с нами.</p>
          <a href="#" class="btn btn-primary">Написать</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>





{% endblock %}
