{% extends "base.html" %}

{% block head %}
<title>Рейтинг</title>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Рейтинг</h1>
    <table class="table table-striped">
    <thead>
        <tr>
        <th>Username</th>
        <th>Score</th>
        </tr>
    </thead>
    <tbody style="background-color: rgba(255, 255, 255, 0.5)">
        {% for username, rating in leaderboard_data %}
        <tr>
        <td style="color: black">{{ username }}</td>
        <td>{{ rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}