{% extends "base.html" %}

{% block head %}
<title>Личный кабинет</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">{{ data[0] }}'s Profile</h2>
                </div>
                <div class="card-body">
                    <p><strong>Rating:</strong> {{ data[1] }}</p>
                </div>
                <div class="card-footer">
                    <button style="width: 150px; height: 50px; font-size:18pt">Здесь будет кнопка</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}